body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.nav-a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav-span {
  color: #2e2f42;
}
.nav-li-a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-li-a:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.nav-li-a:active {
  /* font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; */
  color: #404bbf;
}
.header-adress {
  font-style: normal;
}
.header-adress-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-adress-mail:hover {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.header-adress-mail:active {
  /* font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; */
  color: #404bbf;
}
